{% extends '::base.html.twig' %}

{% block pageTypeClass %}page-product{% endblock %}

{% block content %}
    <div class="content-top">
        <div class="container">
            <div class="intro-block">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="title">
                            Digitaal drukwerk
                        </h3>
                        <p>
                            Digitaal drukken betekent dat wij rechtstreeks van PC/
                            MAC bestanden printen op digitale productie persen
                            en dit zonder gebruik te maken van film of drukplaten.
                            De grote toegevoegde waarde van digitaal drukken
                            bestaat er in dat er gepersonaliseerde elementen
                            opgenomen kunnen worden op elk drukvel. Ook
                            kleine oplagen en print on demand (POD) zijn
                            uitermate geschikt om digitaal gedrukt te worden.
                        </p>
                    </div>

                    <div class="col-md-6">
                        <h3 class="title">
                            Waarom digitaal drukwerk?
                        </h3>
                        <p>
                            De vraag naar betaalbaar en kwalitatief
                            hoogwaardig drukwerk in kleinere oplages, al dan
                            niet gepersonaliseerd, blijft sterk stijgen. Steeds
                            meer bedrijven maken hier gebruik van en zien de
                            vele mogelijkheden. Digitaal drukken is daarom
                            ook uitermate geschikt voor kleinere oplagen, adhoc
                            producties, drukwerk dat actueel moet zijn of
                            mutatiegevoelig is.
                            Met ons performant machinepark en onze oplossingen
                            komen wij te gemoed aan deze verzuchtingen.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-menu">
        <div class="container">
            <div class="sub-menu-title {{ product }}">
                <i class="fa fa-list"></i>
                <span class="sub-title">Informatie</span>
            </div>
        </div>
        <div class="container">
            <div class="row">
            <div class="col-md-6">
                <ul class="list-unstyled sub-menu">
                    <li>
                        <a href="#">
                            Folders en brochures
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Prijslijsten
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Nieuwsbrieven
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Visitekaartjes
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Les- en cursusmateriaal
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-unstyled sub-menu">
                    <li>
                        <a href="#">
                            Uitnodigingen
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Verhuisberichten
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Catalogussen
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Geboortekaartjes
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Gepersonaliseerde Mailings
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Jaarverslagen
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </div>

    <div class="content-mid">
        <div class="container">
            <div class="">

            </div>
        </div>
    </div>


{% endblock %}
