.banner-img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  z-index: -1;
}

.header-banner {
  position: relative;
  height: 650px;
  overflow: hidden;
  .container {
    z-index: 3;
  }
}

.page-title {
  line-height: 94px;
  font-size: 36px;
  color: $text-color;
  background-color: $body-bg;
  padding: 0 15px;
  font-family: $font-family-sans-serif;
  font-weight: 300;
  &.groen {
    color: $jarys-green;
  }
  &.blauw {
    color: $jarys-blue;
  }
  &.geel {
    color: $jarys-yellow;
  }
  &.rood {
    color: $jarys-red;
  }
  &.oranje {
    color: $jarys-orange;
  }
  &.roos {
    color: $jarys-pink;
  }
}

.page-info {
  width: 100%;
  height: 100% !important;
  h2 {
    font-size: 40px;
    line-height: 50px;
    color: #ffffff;
    font-weight: 300;
    padding-top: 18%;
    z-index: 3;
    text-transform: uppercase;
  }
  h3 {
    font-size: 60px;
    line-height: 50px;
    color: $jarys-blue;
    font-weight: 300;
    text-transform: none;
    padding-top: 8px;
    margin-left: -9px;
    z-index: 3;
    text-transform: uppercase;
    &.groen {
      color: $jarys-green;
    }
    &.blauw {
      color: $jarys-blue;
    }
    &.geel {
      color: $jarys-yellow;
    }
    &.rood {
      color: $jarys-red;
    }
    &.oranje {
      color: $jarys-orange;
    }
    &.roos {
      color: $jarys-pink;
    }
  }
  i {
    z-index: 99;
    text-align: center;
    width: 94px;
    height: 94px;
    line-height: 94px;
    font-size: 36px;
    float: left;
    color: $text-color;
    background: $jarys-green;
    transition: .5s ease-in-out;
    cursor: pointer;
    &.groen {
      background: $jarys-green;
    }
    &.blauw {
      background: $jarys-blue;
    }
    &.geel {
      background: $jarys-yellow;
    }
    &.rood {
      background: $jarys-red;
    }
    &.oranje {
      background: $jarys-orange;
    }
    &.roos {
      background: $jarys-pink;
    }
  }
  p {
    color: #ffffff;
    font-size: 12px;
    line-height: 22px;
    text-transform: uppercase;
    padding-top: 33px;
    padding-right: 53%;
    padding-bottom: 12%;
    margin-bottom: 20px;
  }
  .wrp {
    position: absolute;
    bottom: 0;
  }
}
