.map {
  height: 400px;
}

.contact-list {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    position: relative;
    margin: 2px 0;
    color: lighten(#595d65, 10%);
    font-size: 24px;
    font-weight: 300;
    font-family: $font-family-sans-serif;
    &:before {
      font-family: 'fontawesome';
      content: $fa-var-angle-right;
      color: $jarys-blue;
      font-size: 16px;
      margin-right: 10px;
    }
  }
}

.form-control {
  border-radius: 0;
  background-color: lighten($body-bg, 10%);
  border: 1px solid lighten($body-bg, 5%);
  color: #ddd;
  padding: 20px;
  &:focus {
    outline: 0;
    border-color: lighten($jarys-blue, 5%);
    box-shadow: none;
  }
}

.form-group {
  label {
    color: $jarys-blue;
    font-family: $font-family-sans-serif;
    font-weight: 300;
    text-transform: uppercase;
  }
}