.content-menu {
  margin-top: 50px;
  padding-top: 40px;
  background-color: $submenu-bg;
  position: relative;
  .container {
    position: relative;
  }
}


.sub-menu-title {
  position: absolute;
  top: -114px;
  left: 15px;
  i {
    z-index: 99;
    text-align: center;
    width: 74px;
    height: 74px;
    line-height: 74px;
    font-size: 30px;
    float: left;
    color: #ffffff;
    background: $jarys-green;
    transition: .5s ease-in-out;
  }
  &.blauw {
    i {
      background: $jarys-blue;
      color: $text-color;
    }
    .sub-title {
      color: $jarys-blue;
    }
  }
  &.oranje {
    i {
      background: $jarys-orange;
      color: $text-color;
    }
    .sub-title {
      color: $jarys-orange;
    }
  }
  &.groen {
    i {
      background: $jarys-green;
      color: $text-color;
    }
    .sub-title {
      color: $jarys-green;
    }
  }
  &.geel {
    i {
      background: $jarys-yellow;
      color: $text-color;
    }
    .sub-title {
      color: $jarys-yellow;
    }
  }
  &.roos {
    i {
      background: $jarys-pink;
      color: $text-color;
    }
    .sub-title {
      color: $jarys-pink;
    }
  }
  &.rood {
    i {
      background: $jarys-red;
      color: $text-color;
    }
    .sub-title {
      color: $jarys-red;
    }
  }
  .sub-title {
    display: inline-block;
    line-height: 74px;
    font-size: 30px;
    color: $text-color;
    background-color: $submenu-bg;
    padding: 0 15px;
    font-family: $font-family-sans-serif;
    font-weight: 300;
  }
}

.sub-menu {
  margin: 20px 0 0 0;
  &.groen {
    h1,h2,h3,h4,h5,h6 {
      color: $jarys-green;
    }
  }
  &.blauw {
    h1,h2,h3,h4,h5,h6 {
      color: $jarys-blue;
    }
  }
  &.geel {
    h1,h2,h3,h4,h5,h6 {
      color: $jarys-yellow;
    }
  }
  &.rood {
    h1,h2,h3,h4,h5,h6 {
      color: $jarys-red;
    }
  }
  &.oranje {
    h1,h2,h3,h4,h5,h6 {
      color: $jarys-orange;
    }
  }
  &.roos {
    h1,h2,h3,h4,h5,h6 {
      color: $jarys-pink;
    }
  }
  li {
    + li {
      margin-top: 20px;
    }
    a {
      position: relative;
      display: block;
      line-height: 60px;
      height: 60px;
      font-size: 20px;
      font-family: $font-family-sans-serif;
      font-weight: 300;
      background-color: $body-bg;
      color: $jarys-blue;
      padding-left: 120px;
      &:before {
        position: absolute;
        top:0;
        left: 0;
        font-size: 25px;
        font-family: 'fontawesome';
        content: $fa-var-arrow-circle-right;
        display: inline-block;
        color: #fff;
        background-color: $jarys-blue;
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 60px;
      }
      &:hover, &:focus {
        background-color: darken($body-bg, 2%);
        &:before {
          background-color: darken($jarys-blue, 10%);
        }
      }
    }
  }
}