.header-top {
  padding: 5px 0;
  font-family: $font-family-sans-serif;
}

.header-top-second {
  li {
    line-height: 34px;
  }
  ul {
    margin-bottom: 0;
  }
}

.list-contact {
  i {
    margin-right: 10px;
  }
}
