.map {
  height: 400px;
}

.contact-list {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    position: relative;
    margin: 2px 0;
    color: lighten(#595d65, 10%);
    &:before {
      font-family: 'fontawesome';
      content: $fa-var-angle-right;
      color: $jarys-green;
      font-size: 16px;
      margin-right: 10px;
    }
  }
}

.form-control {
  border-radius: 0;
  background-color: lighten($body-bg, 10%);
  border: lighten($body-bg, 5%);
  color: #ddd;
  padding: 20px;
  &:focus {
    outline: 0;
    border: lighten($body-bg, 5%);
  }
}

.btn-jarys {
  border-radius: 0;
  border: 1px solid $jarys-blue;
  padding: 10px 20px;
  text-transform: uppercase;
  font-family: $font-family-sans-serif;
  background-color: transparent;
  color: $jarys-blue;
  transition: all 1s ease;
  &:hover, &:focus {
    color: #fff;
    border-color: #fff;
  }
}

.form-group {
  label {
    color: $jarys-blue;
    font-family: $font-family-sans-serif;
    font-weight: 300;
    text-transform: uppercase;
  }
}