<!DOCTYPE html>
<html lang="nl_NL">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}Jary's DP!{% endblock %}</title>

        {% block stylesheets %}
            <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="{{ asset('build/jarys.css') }}">
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="{% block pageTypeClass %}page-homepage{% endblock %}">
    {% block body %}
        {% include 'header.html.twig' %}
        {% include 'navbar.html.twig' %}
        {% include 'banner.html.twig' %}

        <div class="content">
            {% block content %}{% endblock %}
        </div>

        {% include 'footer.html.twig' %}

    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('vendor/bootstrap-sass-official/assets/javascripts/bootstrap.min.js') }}"></script>
    {% endblock %}
    </body>
</html>
