<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <ul class="list-unstyled">
                    <li><h6>Producten & Services</h6></li>
                    <li><a class="dropdown-item" href="/digital-printing">Digital Printing</a></li>
                    <li><a class="dropdown-item" href="/offset">Offset</a></li>
                    <li><a class="dropdown-item" href="/packaging">Packaging</a></li>
                    <li><a class="dropdown-item" href="/xxl">XXL</a></li>
                    <li><a class="dropdown-item" href="/web2print">Web 2 Print</a></li>
                    <li><a class="dropdown-item" href="/craetive">Creative</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-unstyled">
                    <li><h6>Other</h6></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/downloads">Downloads</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-unstyled text-right">
                    <li>
                        <h6>Jarys DP</h6>
                    </li>
                    <li>
                        Guido Gezellestraat 5
                    </li>
                    <li>
                        2630 Aartselaar
                    </li>
                    <li>
                        <i class="fa fa-phone"></i> +32 (0)3 870 63 93
                    </li>
                    <li>
                      <a href="mailto:printing@jarys.be"><i class="fa fa-envelope-o"></i> printing@jarys.be</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
