<div class="jarys-navbar" data-spy="affix" data-offset-top="44">
    <div class="container">
        <nav class="navbar">
            <a class="navbar-brand" href="{{ path('homepage') }}">
                <img src="{{ asset('assets/images/logo/jarys.png') }}" />
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
            </button>
            <ul class="nav navbar-nav pull-right collapse">
                {{ jarys_clastic_menu('main') }}
            </ul>
        </nav>
    </div>
</div>
