//
// SASS Variables infiSTAR
// -----------------------

$sitename: 'jarys';
$author: 'zupa';

$brand-primary: #3498db;
$brand-secondary: #333;
$brand-tertiary: #f2f2f2;
$brand-quaternary: #3498db;
$brand-quinary: #141f2b;

$main-color-nav: rgb(49, 53, 61);
$main-color-nav: rgb(49, 53, 61);

$body-bg: #f2f2f2;



$font-family-sans-serif:     "Cabin-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:          "OldStandardTT-Regular", Georgia, "Times New Roman", Times, serif;
$font-family-monospace:      'Roboto', Menlo, Monaco, Consolas, "Courier New", monospace;

$headings-font-family:       $font-family-monospace;
$font-family-base:           $font-family-serif;


$fa-font-path:        "../assets/fonts";


