<div class="card-title">
    Contact status
</div>
<table class="table table-striped">
    {% for state in states %}
    <tr>
        <th>{{ state.name }}</th>
        <td>{{ state.count }}</td>
    </tr>
    {% endfor %}
</table>