a {
  &:hover,
  &:focus {
    text-decoration: none;
    cursor: pointer;
  }
}

.wrapper-top {
  margin-top: 80px;
}

.wrapper-middle {
  padding: 60px 0;
}

html,body {
  height: 100%;
}

.content-top,
.content-mid,
.content-bot,
.content-menu {
  padding: 80px 0;
  clear: left;
}

.content-top {
  padding: 120px 0;
  clear: left;
}

.page-title {
  display: none;
}