.user-content {
  color: $text-color-dark;
  table {
    width: 100%;
    @extend .table;
    td {
      padding: 5px;
    }
  }
  img {
    max-width: 100%;
  }
  h1,h2,h3,h4,h5,h6 {
    color: #222;
    font-weight: 300;
  }
}