@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(../assets/fonts/MaterialIcons-Regular.woff2) format('woff2'),
  url(../assets/fonts/MaterialIcons-Regular.woff) format('woff'),
  url(../assets/fonts/MaterialIcons-Regular.ttf) format('truetype');
}
//
//@font-face {
//  font-family:'OldStandardTT-Regular';
//  src: url('fonts/OldStandardTT-Regular_gdi.eot');
//  src: url('fonts/OldStandardTT-Regular_gdi.eot?#iefix') format('embedded-opentype'),
//  url('fonts/OldStandardTT-Regular_gdi.woff') format('woff'),
//  url('fonts/OldStandardTT-Regular_gdi.ttf') format('truetype'),
//  url('fonts/OldStandardTT-Regular_gdi.svg#OldStandardTT-Regular') format('svg');
//  font-weight: 400;
//  font-style: normal;
//  font-stretch: normal;
//  unicode-range: U+0020-F6CE;
//}
//
//@font-face {
//  font-family:'Cabin-Regular';
//  src: url('fonts/Cabin-Regular_gdi.eot');
//  src: url('fonts/Cabin-Regular_gdi.eot?#iefix') format('embedded-opentype'),
//  url('fonts/Cabin-Regular_gdi.woff') format('woff'),
//  url('fonts/Cabin-Regular_gdi.ttf') format('truetype'),
//  url('fonts/Cabin-Regular_gdi.svg#Cabin-Regular') format('svg');
//  font-weight: 400;
//  font-style: normal;
//  font-stretch: normal;
//  unicode-range: U+0020-2122;
//}

