{% extends '::base.html.twig' %}

{% block content %}

    <div class="content-top">
        <div class="container">
        <div class="intro-block">
            <h3 class="title">
                Lorem ipsum dolor sit amet.
            </h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed tristique mauris. In molestie et nulla eu egestas. Nullam imperdiet elit vitae tellus dapibus hendrerit. Praesent quis fringilla purus. In varius elit ac lobortis feugiat. Nam dui enim, aliquet quis eros nec, bibendum condimentum ligula. Nam hendrerit et ex quis tempus. Aenean placerat, nibh eget fringilla pellentesque, sem est ultrices elit, venenatis convallis purus justo vitae dui. Proin eget faucibus sapien. Sed nunc arcu, scelerisque nec molestie at, dapibus sit amet quam. Sed vel dui turpis. Sed pharetra urna nunc, in convallis nibh placerat in. Phasellus viverra, enim quis luctus sollicitudin, sem elit consectetur turpis, ut congue felis tellus et dui. Morbi in arcu in ligula gravida viverra. Mauris non dictum ante. Cras iaculis purus ut neque imperdiet dignissim.
            </p>
        </div>

        </div>
    </div>

    <div class="content-mid">
        <div class="container">
            <div class="product-container">
        <div class="home-page-product-wrapper">
            <div class="home-page-product dp ">
                <div class="left-col">
                    <a href="#">
                        <i class="fa fa-print color"></i>
                        <i class="fa fa-arrow-right"></i>
                    </a>
                    </div>
                <div class="right-col">
                    <h4>Digital Printing</h4>
                    <span>
                        Dovitae diam purus luctus facilisis. Nullam  ipsum eros tris tique. Duis quis imper die.
                    </span>
                </div>
            </div>
        </div>
        <div class="home-page-product-wrapper">
            <div class="home-page-product xxl ">
                <div class="left-col">
                    <a href="#">
                        <i class="fa fa-print color"></i>
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
                <div class="right-col">
                    <h4>XLL</h4>
                     <span>
                        Dovitae diam purus luctus facilisis. Nullam  ipsum eros tris tique. Duis quis imper die.
                    </span>
                </div>
            </div>
        </div>
        <div class="home-page-product-wrapper">
            <div class="home-page-product offset">
                <div class="left-col">
                    <a href="#">
                        <i class="fa fa-print color"></i>
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
                <div class="right-col">
                    <h4>Offset</h4>
                     <span>
                        Dovitae diam purus luctus facilisis. Nullam  ipsum eros tris tique. Duis quis imper die.
                    </span>
                </div>
            </div>
        </div>
        <div class="home-page-product-wrapper">
            <div class="home-page-product w2p">
                <div class="left-col">
                    <a href="#">
                        <i class="fa fa-print color"></i>
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
                <div class="right-col">
                    <h4>Web 2 Print</h4>
                     <span>
                        Dovitae diam purus luctus facilisis. Nullam  ipsum eros tris tique. Duis quis imper die.
                    </span>
                </div>
            </div>
        </div>
        <div class="home-page-product-wrapper">
            <div class="home-page-product pa">
                <div class="left-col">
                    <a href="#">
                        <i class="fa fa-print color"></i>
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
                <div class="right-col">
                    <h4>Packaging</h4>
                     <span>
                        Dovitae diam purus luctus facilisis. Nullam  ipsum eros tris tique. Duis quis imper die.
                    </span>
                </div>
            </div>
        </div>
        <div class="home-page-product-wrapper">
            <div class="home-page-product cr right-product">
                <div class="left-col">
                    <a href="#">
                        <i class="fa fa-print color"></i>
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
                <div class="right-col">
                    <h4>Creative</h4>
                     <span>
                        Dovitae diam purus luctus facilisis. Nullam  ipsum eros tris tique. Duis quis imper die.
                    </span>
                </div>
            </div>
        </div>

        </div>
    </div>


{% endblock %}
